<wishlistheader></wishlistheader>
<div class="container" ng-controller="UserViewController">
    <div class="col-lg-12">
    <h1>Your Profile</h1>
    </div>
    <div class="col-lg-12">
        <div class="panel-heading">
            {{user.firstname}} {{user.lastname}}
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <span class="pull-left"><p>Username:{{user.username}}</p></span>
                <span class="pull-left"><p>Email:{{user.email}}</span>
            </div>
        </div>   
    </div>
</div>
