<wishlistheader></wishlistheader>
<div class="container" ng-controller="UserViewController">
    <div class="col-lg-12">
    <h1>Your Profile</h1>
    </div>
    <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{user.firstname}} {{user.lastname}}
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <span class="pull-left"><b>Username:</b> {{user.username}}</span>
                        <br>
                        <br>
                        <span class="pull-left"><b>Email:</b> {{user.email}}</span>
                    </div>
                </div>
            </div>    
    </div>
</div>
