.v-center {
    height: 100vh;
    width: 100vh;
    overflow: visible;
    margin: auto;
    position: absolute;
    background: url('../img/light-blue.png');
    background-repeat: repeat;
    top: 0; left: 0; bottom: 0; right: 0;
}

.text-center{
    color:White;
    font-family: Helvetica;
}

.btn{
    background:#cfbea5;
}

body{
    background: url('../img/light-blue.png');
    background-repeat: repeat;
    font-family: Helvetica;
    max-height:1000px;
}
.wrapper {
    background: url('../img/slate.png');
    background-repeat: repeat;
}
.container{
    background: url('../img/light-blue.png');
    background-repeat: repeat;
}

nav {
    background: url('../img/brown.png');
    background-repeat: repeat;
}

.panel-heading{
    font-weight: bold;
}

.form-group{
    color:white;
}

/**@font-face{
    font-family: Ubunutu;
    src: url('../fonts/Ubuntu-L.tff');
}**/